*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: url(images/backgrounds/plants_on_deck.jpg) no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.intro-box{
  margin-top: 10%;
  margin-left: 25%;
}

/* Contact */

.contact-info{
  max-width: 500px;
  margin-left: 43%;
  margin-top: -6%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.contact-info li{
  mix-blend-mode: hard-light;
  list-style: none;
}

.contact-info li:hover{
  mix-blend-mode: normal;
}