*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: url(images/backgrounds/dotted_circle.PNG) repeat; 
  background-size: 10%;
  background-color: #3e3e3e;
}

.introduction{
  margin-top: 7.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
}

.intro_box{
  content: url(images/figma_exports/intro_bw.svg);
}

.intro_box:hover{
  content: url(images/figma_exports/intro_color.svg);
}

.me{
  position: absolute;
  left: 0.2rem;
  top: -0.1rem;
  mix-blend-mode: luminosity;
}

.me:hover{
  mix-blend-mode: normal;
}

.contacts{
  position: absolute;
  left: 25rem;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-linkedin{
  color: white;
}

.fa-linkedin:hover{
  color: #5292DC;
}

.fa-github{
  color: white;
  padding-left: 2rem;
}

.fa-github:hover{
  color: #DBBC4A;
}

.fa-envelope{
  color: white;
  padding-left: 2rem;
}

.fa-envelope:hover{
  color: #D8464C;
}

/* Screen Adjustment */
@media only screen and (min-device-width: 999px){
  /*  */
}

@media only screen and (min-device-width: 499px) and (max-device-width: 998px){
  /*  */
}

@media only screen and (max-device-width: 3000px){
  /*  */
}